@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

.imageCont{
    height:auto;
    width:5%;
    padding:1%;
    border-radius: 50%;
    @media(orientation:portrait){
        width:10%;
    }
}

.navClass{
    height:7vh;
    overflow-y:hidden;
    margin:1%;
    background: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0.7) ,rgba(0,0,0,0));
    
}

span{
    font-family: 'Poppins', sans-serif;
    color:white;
}

.logoimg{
    border-radius:50%;
    filter: grayscale(90%);
    cursor:pointer;
}